<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {% for data in blog %}
        <h1>Title {{data["id"]}}: {{data["title"]}}</h2>
        <h3> {{data["subtitle"]}} </h3>
    {% endfor %} -->

    {% for data in blog: %}
        {% if data["id"] == 2: %}
            <h1>{{ data["title"] }}</h1>
            <h3>{{ data["subtitle"] }}</h3>
        {% endif %}
    {% endfor %}

</body>
</html>